header {
	display: flex;
	justify-content: space-between;
	line-height: 60px;
	flex: 1;
}
header h1.logo {
	margin: 0;
}
.navbar .navbar__list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.navbar .navbar__list .navbar__item {
	display: inline-block;
}
.navbar__item + .navbar__item {
	margin-left: 25px;
}
.container {
}
